@using Agenda.MVC.ViewModel
@model EditUserViewModel

<div>
  @Html.LabelFor(x => x.Name)
  @Html.TextBoxFor(x => x.Name, new { @class="form-control"})
  @Html.ValidationMessageFor(x => x.Name)
</div>
<div>
  @Html.LabelFor(x => x.UserName)
  @Html.TextBoxFor(x => x.UserName, new { @class="form-control"})
  @Html.ValidationMessageFor(x => x.UserName)
</div>
<div>
  @Html.LabelFor(x => x.Email)
  @Html.TextBoxFor(x => x.Email, new { @class="form-control"})
  @Html.ValidationMessageFor(x => x.Email)
</div>

<div class="m-3 text-center">
  <button type="submit" class="btn btn-primary m-2">Salvar</button>
  <a href='@Url.Action("Index", "Contact")' class="btn btn-link">cancelar</a>
</div>
