@using Agenda.MVC.ViewModel
@model EditPasswordViewModel

@{
    ViewData["Title"] = "Alterar Senha";
}

<div>
    @using(Html.BeginForm("EditPassword", "User", FormMethod.Post))
    {
        <div>
          @Html.LabelFor(x => x.Password)
          @Html.PasswordFor(x => x.Password)
          @Html.ValidationMessageFor(x => x.Password)
        </div>
        <div>
          @Html.LabelFor(x => x.ConfirmPassword)
          @Html.PasswordFor(x => x.ConfirmPassword)
          @Html.ValidationMessageFor(x => x.ConfirmPassword)
        </div>
        <div>
          <button>Salvar</button>
        </div>
        <div>
          <vc:Summary></vc:Summary>
        </div>

    }
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
